.container {
    width: 970px;
    background-color: blue;
}

.container img {
    width: 375px;
}

#header-right {
    display: inline-block;
    margin-left: 250px;
    text-align: center;
    vertical-align: top;
}

#header-right a {
    color: #cbad04;
}

#search{
    width: 310px;
    height: 45px;
    border-radius: 10px;
    background-color: #444444;
    padding: 14px 5px 14px 11px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px black;
}

#search input{
    text-align: center;
    padding: 12px;
    border: 3px solid grey;
    box-shadow: 2px 2px 2px black;
}

#search button{
    color: white;
    text-align: center;
    margin-left: 6px;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #0a2a44;
    box-shadow: 2px 2px 2px black;
}

#header-right p {
    margin-bottom: 0px;
}

.container p {
    display: inline-block;
}

.navbar {
    width: 800px;
    list-style: none;
    background-color: #3e79ad;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    padding: 10px 25px;
    margin: 20px auto 0px auto;
    box-shadow: 2px 2px 2px black;
}

.navbar li {
    display: inline-block;
    margin: 0px 25px;
}

#menu {
    text-align: center;
    display:inline-block;
    color: white;
    list-style: none;
    margin-left: 100px;
    vertical-align: top;
}

#menu li {
    margin: 13px;
}

#menu a {
    color: white;
}

#menu span {
    color: #cbad04;
    font-size: 9px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 7px;
}

.main {
    text-align: center;
    display:inline-block;
    color: white;
    width: 550px;
    margin-left: 20px;
    margin-right: 25px;
}

.main h3 {
    font-weight: normal;
    color: #cbad04;
    font-style: italic;
    margin: 5px;
}

.main h4 {
    font-weight: normal;
    margin: 15px;
}

.main p{
    font-size: 14px;
    margin-bottom: 15px;
}

.middle {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 40px;
}

.gettingstarted {
    width: 400px;
    border-top: 4px solid #73a7d5;
    color: black;
    text-align: center;
}

.gettingstarted h4{
    margin: 0px;
}

.gettingstarted p{
    font-size: 14px;
    width: 300px;
    margin: 0px auto 0px auto;
}

.gettingstarted span{
    color: #88b4db;
}

.gettingstarted ul{
    list-style: square;
    margin-left: 75px;
    width: 200px;
    margin-top: 0px;
}

.gettingstarted li a{
    margin-left: -125px;
    text-decoration: none;
    color: #88b4db;
    font-size: 14px;
    margin-top: 0px;
}

#footer{
    text-align: center;
    background: blue;
    padding-top: 10px;
    color: #88b4db;
}

#footer a {
    color: #88b4db;
}

#footer ul{
    list-style: none;
    margin: 40px auto 10px auto;
}
#footer li{
    display: inline;
    margin: 20px;
}
#footer p{
    font-size: 10px;
    height: 20px;
    margin: 0px;
}